.Search {
    display: grid;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.SearchFilters {
    display: flex;
    justify-content: space-around;
}

.SearchButton {
    margin: 2%;
    background-color: var(--first-color);
    color: white;
}

.ItemFoodOrDrink {
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.77);
    padding: 2%;
    background-color: #EEF0F2;
    margin: 3%;
    border-radius: 3%;
    width: 44%;
}

.FoodOrDrinkCardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    width: 90%;
}

.NameFoodOrDrink {
    display: flex;
    justify-content: center;
}